/*
Stylesheet for Hello

colour refs:
#662486 - purple
#ef558e - pink
#00CC99 - teal
#ffab42 - orange
#1E6ACC - blue
*/

* {
	box-sizing: border-box;
	justify-content: space-between;
}


body {
	background-color: #eeeeee;
}

.container {
	margin: 75px;
	background-color: #ffffff;
	box-shadow: 0 1px 1px #BFBFBF;
}

.main {
	display: flex;
	flex-wrap: wrap;
	padding: 40px;
}

.header {
	padding: 35px 45px 35px 45px;
}

.header h1, .header h2, .header h3, .header p {
	margin-top: 0;
}

.intro {
	padding: 35px 45px 35px 45px;
}

.design {
	margin-bottom: 4%;
	padding: 15px 20px 15px 20px;
	width: 48%; 
}

.design h2, .design a {
	color: #1E6ACC;
}

.design h3 {

}

.design a {
	text-decoration: underline;
}

.writing {
	margin-bottom: 4%;
	padding: 15px 20px 15px 20px;
	width: 48%; 
}

.writing h2, .writing a {
	color: #ef558e;
}

.writing a {
	text-decoration: underline;
}

.freelance {
	margin-bottom: 4%;
	padding: 15px 20px 15px 20px;
	width: 48%; 
}

.freelance h2, .freelance a {
	color: #00CC99;
}

.freelance a {
	text-decoration: underline;
}

.marketing {
	margin-bottom: 4%;
	padding: 15px 20px 15px 20px;
	width: 48%; 
}

.marketing h2, .marketing a {
	color: #ffab42;
}

.marketing a {
	text-decoration: underline;
}

.h1title {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 45px;
	letter-spacing: 3px;
	color: #662486;
}

.h2title {
	font-family: 'Libre Baskerville', serif;
	font-size: 28px;
	color: #3c3c3b;
	text-transform: none;
}

.h3title {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 2px;
	text-transform: uppercase; 
	color: #662486;
	padding: 20px 0 -50px 0;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #662486;
}

h3 {
	font-family: 'Libre Baskerville', serif;
	font-size: 15px;
	color: #9d9d9c;
}

h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 700;
	color: #404040;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	color: #3c3c3b;
}

.quote {
	font-family: 'Libre Baskerville', serif;
	font-size: 21px;
	color: #662486;
}


a {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #404040;
}

a:hover {
	color: #662486;
	font-weight: bold;
}

ul {

}

li {
	color: #662486;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.nav-li {
	list-style: none;
	text-align: right;
}

.nav-li a {
	font-size: 18px;
	font-weight: bold;
	color: #662486;
}

.sidebar {

}

.footer {
	padding-bottom: 70px;
}

.footer li {
	list-style: none;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}

.footer a {
	text-decoration: none;
}


/* Media queries */

@media (max-width: 700px) {
	.graphics, .freelance, .writing, .marketing {
		width: 100%;
	}
}
