/*
Stylesheet for Hello

colour refs:
#662486 - purple
#ef558e - pink
#00CC99 - teal
#ffab42 - orange
#1E6ACC - blue
*/

* {
	box-sizing: border-box;
	justify-content: space-between;
}


body {
	background-color: #eeeeee;
}

.container {
	margin: 75px;
	background-color: #ffffff;
	box-shadow: 0 1px 1px #BFBFBF;
}

.main, .content {
	display: flex;
	flex-wrap: wrap;
}

.main {
	padding: 0 60px 30px 60px;
	margin-bottom: 30px
}

.content {
	width: 64%;
	padding: 0;
}

.header {
	display: flex;
	align-items: flex-start;
	padding: 50px 60px 50px 60px;
}

.header h1 {
	margin-top: 0;
	margin-bottom: 0;
}

.header h2, .header h3 .header p {
	margin-top: 0;
}

.intro {
	padding: 0 60px 30px 60px;
}

.design {
	margin-bottom: 4%;
	padding: 10px 20px 10px 20px;
	width: 48%; 
}

.design h2, .design a {
	color: #1E6ACC;
}

.design a:hover {
	border-bottom-color: #1E6ACC;
}

.writing {
	margin-bottom: 4%;
	padding: 10px 20px 10px 20px;
	width: 48%; 
}

.writing h2, .writing a {
	color: #ef558e;
}

.writing a:hover {
	border-bottom-color: #ef558e;
}

.freelance {
	margin-bottom: 4%;
	padding: 10px 20px 10px 20px;
	width: 48%; 
}

.freelance h2, .freelance a {
	color: #00CC99;
}

.freelance a:hover {
	border-bottom-color: #00CC99;
}

.marketing {
	margin-bottom: 4%;
	padding: 10px 20px 10px 20px;
	width: 48%; 
}

.marketing h2, .marketing a {
	color: #ffab42;
}

.marketing a:hover {
	border-bottom-color: #ffab42;
}

.h1title {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 45px;
	letter-spacing: 3px;
	color: #662486;
}

.h2title {
	font-family: 'Libre Baskerville', serif;
	font-size: 28px;
	color: #3c3c3b;
	text-transform: none;
}

.h3title {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 2px;
	text-transform: uppercase; 
	color: #662486;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #662486;
}

h3 {
	font-family: 'Libre Baskerville', serif;
	font-size: 15px;
	color: #9d9d9c;
	margin-bottom: 0;
}

h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 700;
	color: #404040;
	margin-top: 10px;
}

p {
	font-family: 'Libre Baskerville', serif;
	font-size: 15px;
	color: #3c3c3b;
}

.quote {
	font-family: 'Libre Baskerville', serif;
	font-size: 21px;
	color: #662486;
}


a {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: #662486;
}

a:hover {
	border-bottom: 2px solid #662486;
}

li {
	color: #662486;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.nav-li {
	list-style: none;
	text-align: right;
}

.nav-li a {
	font-size: 18px;
}

.sidebar {
	padding: 0 35px 0 35px;
	width: 36%;
}

.sidebar .h3title {
	font-size: 21px;
}

.sidebar ul {
	padding: 0;
}

.sidebar li {
	list-style: none;
	display: inline-block;
	margin: 5px;
	padding: 8px;
	background-color: #CCCCCC;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #ffffff;
}

.footer {
	padding-bottom: 70px;
	text-align: center;
}

.footer ul {
	padding: 0 0 10px 0;
}

.footer li {
	list-style: none;
	display: inline-block;
	margin: 0 auto;
	padding: 10px;
	font-size: 13px;
}

.footer a:hover {
	border-bottom: none;
	-webkit-filter: saturate(0) invert(100%) brightness(200%);
}

.copyright {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	color: #3c3c3b;	
}

.copyright a:hover {
	-webkit-filter: none;
	border-bottom: 2px solid #662486;
}



/* Media queries */

@media (max-width: 700px) {
	.design, .freelance, .writing, .marketing {
		width: 100%;
	}
}
