/*
Stylesheet for Hello
*/

.graphics {
	border: 2px;
	border-color: #662486;
}

.h2title {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	color: #662486;
}

.h3title {
	font-family: 'Libre Baskerville', serif;
	font-size: 18px;
	color: #3c3c3b;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #662486;
}

h3 {
	font-family: 'Libre Baskerville', serif;
	font-size: 15px;
	color: #9d9d9c;
}

h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	font-weight: bold;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #3c3c3b;
}

.quote {
	font-family: 'Libre Baskerville', serif;
	font-size: 21px;
	color: #662486;
}